<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adimission prediction</title>
</head>
<body>
<h1 align="center">Adimission prediction</h1>
<form action="/predict" method="POST">
    <table align="center">
        <tr>
            <td>
                <label>GRE Score  </label>
            </td>
            <td>
                <input type="text" id="GRE" name="GRE">
            </td>
        </tr>
        <tr>
            <td>
                <label>University Rating  </label>
            </td>
            <td>
                <input type="text" id="URAT" name="URAT">
            </td>
        </tr>
        <tr>
            <td>
                <label>TOEFL Score   </label>
            </td>
            <td>
                <input type="text" id="TOEFL" name="TOEFL">
            </td>
        </tr>
        <tr>
            <td>
                <label>SOP  </label>
            </td>
            <td>
                <input type="text" id="SOP" name="SOP">
            </td>
        </tr>
        <tr>
            <td>
                <label>LOR   </label>
            </td>
            <td>
                <input type="text" id="LOR" name="LOR">
            </td>
        </tr>
        <tr>
            <td>
                <label>CGPA  </label>
            </td>
            <td>
                <input type="text" id="CGPA" name="CGPA">
            </td>
        </tr>
        <tr>
            <td>
                <label>Research  </label>
            </td>
            <td>
                <input type="text" id="Research" name="Research">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" align="center" value="Predict">
            </td>
        </tr>

    </table>

</form>
</body>
</html>